[submodule "vendor/manifold"]
	path = vendor/manifold
	url = https://github.com/elalish/manifold
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
